html{
    font-family: serif;
    background: #413853;
}

body{
    margin: 0px;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
}

.main-wrapper2 {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 50px;
}

.main-wrapper3 {
    display: flex;
    padding: 50px;
}

.side-image {
    width: 400px;
    height: auto;
    padding: 0px;
}

.side-image2 {
    width: 800px;
    height: auto;
    padding: 20px;
    margin-left: 80px;
    border:#ffffff;
}

.content-box {
    width: 500px;
    height: 500px;
    padding: 0px;
    background-color: transparent; 
    font-family: Titan one;
    line-height: 1.7;
    font-size: 18px;
    color: #ffffff;
}



.content-box2 {
    width: 200px;
    height: 100px;
    padding: 0px;
    background-color: transparent; 
    font-family: Titan one;
    line-height: 1.6;
    font-size: 20px;
    color: #ffffff;
}

.content-box3 {
    width: 900px;
    height: 100px;
    padding: 10px;
    background-color: transparent; 
    font-family: Titan one;
    font-size: 40px;
    color: #ffffff;
    margin-left: 325px;
}

.content-box4 {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: transparent; 
    font-family: Titan one;
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
    margin-bottom: 100px;
}

.gallery-wrapper {
    display: flex;
    justify-content: flex-start; 
    gap: 20px;                   
    padding: 80px;               
}

.gallery-img {
    width: 300px;               
    height: auto;
    border: 2px solid transparent;
    transition: transform 0.3s, border 0.3s;
    float: left;
}


.gallery-img:hover {
    transform: scale(1.3);
}



